@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
}

.mobile-links{
  position: sticky;
  z-index: 100;
}

.hero-img img {
  border: 3px solid black;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;

  -webkit-user-drag: none;
}

.header-text{
  width: 15rem;
  font-size: 60px;
  line-height: 4rem;

  @media(max-width: 900px){
    width: 20rem;
  font-size: 40px;
  line-height: 3.5rem;
    text-align: center;
  }
}

.hero-text img {
  position: absolute;
  width: 4rem;
  top: 4rem;
  right: 20rem;

  @media (max-width: 900px){
    width: 3rem;
    top: 3.7rem;
    right: 0.4rem;
  }
}

.hero-text p{
  width: 70%;
  @media (max-width: 900px){
  width: 20rem;}
}

.tabler-icon-brand-linkedin:hover{
  stroke: #0a66c2;
}

.tabler-icon-brand-github:hover{
  stroke: black;
}


@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
