/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:wght@100&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap'); */
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	/* background-color: #F5F5F5; */
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #8a12fc;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

body {
  background-color: #f9f9f9;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: #8a12fc;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.268); */
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
}

.mobile-links {
  position: sticky;
  z-index: 100;
}

.hero-img img {
  border: 3px solid black;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;

  -webkit-user-drag: none;
}

.header-text {
  width: 15rem;
  font-size: 60px;
  line-height: 4rem;

  @media (max-width: 900px) {
    width: 20rem;
    font-size: 40px;
    line-height: 3.5rem;
    text-align: center;
  }
}

.header-links:hover {
  color: #8a12fc;
}

.hero-text img {
  position: absolute;
  width: 4rem;
  top: 4rem;
  right: 20rem;

  @media (max-width: 900px) {
    width: 3rem;
    top: 3.7rem;
    right: 0.4rem;
  }
}

.hero-text p {
  width: 70%;
  @media (max-width: 900px) {
    width: 20rem;
  }
}

.tabler-icon-brand-linkedin:hover {
  stroke: #0a66c2;
}

.tabler-icon-brand-github:hover {
  stroke: black;
}

.marquee-container {
  overflow: hidden;
  line-height: 30px;

  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }

  .marquee2 {
    animation-delay: 15s;
  }
  b {
    padding-left: 10px;
  }
}

.icon img {
  width: fit-content;
}

.skills-icons img {
  justify-self: center;
  max-width: fit-content;
  /* background: #000; */
}

.about {
  width: 70rem;

  @media (max-width: 900px) {
    width: 20rem;
  }
}

.about-img {
  width: 60rem;

  @media (max-width: 900px) {
    width: 100rem;
  }
}

.web-dev img {
  bottom: -2rem;
  right: -2rem;

  @media (max-width: 900px) {
    bottom: -1rem;
    right: -1rem;
  }
}

.about-heading {
  color: #8a12fc;
}

.about-text .heading {
  overflow-wrap: break-word;
}

.personalProjects {
  @media (max-width: 900px) {
    width: 93%;
  }

  .bigCard {
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px;
    
  }

  .heading {
    color: #8a12fc;
  }

  .project-img {
    width: 40rem;
    height: 23rem;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px;

    @media (max-width: 900px) {
      width: 19rem;
      height: 14rem;
    }
  }

  .project-img-PH {
    width: 40rem;
    height: 23rem;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px;

    @media (max-width: 900px) {
      width: 19rem;
      height: 14rem;
    }
  }

  .project-img img {
    /* min-width: 0px; */
    /* max-width: 100%; */
    height: 139%;
    transform: translateY(0%);
    transition: 2s ease-in-out 0s;

    @media (max-width: 900px) {
      height: 121%;
    }
  }
  
  .project-img-PH img {
    /* min-width: 0px; */
    /* max-width: 100%; */
    height: 185%;
    transform: translateY(0%);
    transition: 2s ease-in-out 0s;

    @media (max-width: 900px) {
      height: 170%;
    }
  }

  .project-img img:hover {
    transform: translateY(-27.5%);
    transition: 2s ease-in-out 0s;
    @media (max-width: 900px) {
      transform: translateY(-17%);
    }
  }
  
  .project-img-PH img:hover {
    transform: translateY(-43%);
    transition: 3s ease-in-out 0s;
    @media (max-width: 900px) {
      transform: translateY(-36%);
    }
  }

  .project-info {
    width: 30rem;
    @media (max-width:900px) {
      width: 18.9rem;
      /* background: #0000003b; */
    }
  }

  /* .github-link:hover{
    .github-link img{
      stroke: black;
    }
    
  } */
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
